:root {
  --primary-header: #ffffff;
  --primary-footer: #2e2f42;
  --hover-focus: #4d5ae5;
  --btn: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-header);
  color: var(--primary-footer);
}
.visually-hidden {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.addr-contact {
  font-style: normal;
}
linearGradient {
  color-scheme: var(--primary-header);
}
/*header index.html*/
.header {
  background-color: var(--primary-header);
}

.web-logo {
  color: var(--btn);
}
.web-logo:hover,
.web-logo:focus {
  color: var(--btn);
}
.web-logo {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.logo-studio {
  color: var(--dark);
}
.logo-studio:hover,
.logo-studio:focus {
  color: var(--dark);
}
.logo-studio {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.link-header {
  color: var(--dark);
}
.link-header:hover,
.link-header:focus {
  color: var(--hover-focus);
}
.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.site-contact {
  color: var(--text);
}
.site-contact:hover,
.site-contact:focus {
  color: var(--hover-focus);
}
.site-contact {
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

/*hero index.html*/
.hero {
  background-color: var(--dark);
}
.hero-btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: var(--btn);
  padding: 11px 32px;
  border-radius: 4px;
  min-width: 169px;
  background-color: var(--btn);
  color: var(--primary-header);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--primary-header);
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-focus);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.hero-btn {
  background-color: var(--btn);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}
.hero-text {
  margin-top: 0;
  margin-bottom: 48px;

  color: var(--primary-header);
  font-size: 56px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

/*title index.html*/
.card-title {
  padding: 0;
  margin: 0;
  color: var(--dark);
}
.title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.title {
  color: var(--dark);
}
.our-team {
  background-color: var(--light);
}
.title-text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.title-text {
  color: var(--text);
}

.title-professional {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text);
}

.main-page {
  color: var(--dark);
}
.main-page {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

/*title portfolio 1.33
                        .title-bonus{font-weight: 400;
                            font-size: 16px;
                            line-height: 1.33;}
                            .title-bonus{color: var(--text);}


             
         /* portfolio button*/
.link-btn:hover,
.link-btn:focus {
  background-color: var(--pressed-state);
  color: var(--primary-header);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-btn {
  display: inline-block;
  text-align: center;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;

  cursor: pointer;
  color: var(--btn);
  background-color: var(--accent);
}
.link-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
/*-------------------------BTN-----------------------*/
.btn-all {
  min-width: 69px;
  min-height: 48px;
}
.btn-site {
  min-width: 116px;
  min-height: 48px;
}
.btn-app {
  min-width: 78px;
  min-height: 48px;
}
.btn-design {
  min-width: 101px;
  min-height: 48px;
}
.btn-marketing {
  min-width: 126px;
  min-height: 48px;
}
/*-----------------------------Btn________---------*/
.title-project {
  padding: 0;
  margin: 0;
  color: var(--text);
}

/*-----------------------------footer--------------------------*/

.footer {
  background-color: var(--primary-footer);
}
.logo-footer {
  color: var(--light);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--light);
}
.logo-footer {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.post-footer {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent);
}
/*---------------------------------BLOK----------------------------------------------------------------------*/

.container {
  padding-left: 15px;
  padding-right: 15px;
}
